version: '3.7'
services:
  query-mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ../../../mongo-volume/etc:/etc/mongo
      - ../../../mongo-volume/data:/data/db